In [18]:
%load_ext autoreload
%autoreload 2

In [23]:
from data_preparation import kaggle_to_df

In [24]:
kaggle_to_df()

,raceId,driverId,lap,position,milliseconds,name,date,cumul_time,#_cumul_stop,time,pit_duration
0,841,20,1,1,98109,Australian Grand Prix,2011-03-27,98109,NaN,NaN,NaN
1,841,20,2,1,93006,Australian Grand Prix,2011-03-27,191115,NaN,NaN,NaN
2,841,20,3,1,92713,Australian Grand Prix,2011-03-27,283828,NaN,NaN,NaN
3,841,20,4,1,92803,Australian Grand Prix,2011-03-27,376631,NaN,NaN,NaN
4,841,20,5,1,92342,Australian Grand Prix,2011-03-27,468973,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
589076,1144,857,54,10,87731,Abu Dhabi Grand Prix,2024-12-08,4924951,NaN,NaN,NaN
589077,1144,857,55,10,87781,Abu Dhabi Grand Prix,2024-12-08,5012732,NaN,NaN,NaN
589078,1144,857,56,10,87816,Abu Dhabi Grand Prix,2024-12-08,5100548,NaN,NaN,NaN
589079,1144,857,57,10,88554,Abu Dhabi Grand Prix,2024-12-08,5189102,NaN,NaN,NaN
589080,1144,857,58,10,88010,Abu Dhabi Grand Prix,2024-12-08,5277112,NaN,NaN,NaN